
.chatbox {
  max-width: 600px;
  margin: 2rem auto;
  height: 400px;
  overflow-y: auto;
}

.msg-user {
  text-align: right;
  margin: 0.25rem 0;
}

.msg-bot {
  text-align: left;
  margin: 0.25rem 0;
}



.home-container {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

.chat-container {
  flex: 1;
}
